@charset "utf-8";


/* デフォルトフォント */
body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
  Meiryo, メイリオ, sans-serif;
  color: #444;
  max-width: 850px;
  margin: 0 auto 1em auto;
  padding: 0.6em;
}

/* フォントサイズ */
@media screen and (min-width:0px){
  html { font-size: calc(100vw / 32);}
  #site_title {font-size: calc(100vw / 16);}
  h1 { font-size: calc(100vw / 16);}
  h2,h3,h4,h5,h6 { font-size: calc(100vw / 18);}
  ul,li { font-size: calc(100vw / 26);}
  p { font-size: calc(100vw / 26);}
}
@media screen and (min-width:830px){
  html { font-size: 16px; }
  #site_title {font-size: 24px;}
  h1 { font-size: 24px;}
  h2,h3,h4,h5,h6 { font-size: 22px;}
  ul,li { font-size: 16px;}
  p { font-size: 16px;}
}

/* 文字間隔 */
h1,h2,h3,h4,h5,h6 {margin: 0 0 0 0;}

/* リンクカラー */
a:link { color: #2F6BE6; }
a:visited { color: #2F6BE6; }
a:hover { text-decoration:none; color: #2f6be6;}
a:active { color: #2f6be6; }

.wrapper {
  margin: 1em;
}

#site_title {
  font-family: 'M PLUS 1p', sans-serif;
}

#site_title a:link { color: #181818; text-decoration: none;}
#site_title a:visited { color: #181818; }
#site_title a:hover { text-decoration:none; color: #2f6be6;}
#site_title a:active { color: #2f6be6; }

.top_page_title_list ul {
  padding-left: 0em;
  margin-left: 0em;
}

.top_page_title_list li {
  list-style: none;
}

/* Topページの用語名とボーダー */
.title_name {
  border-top-color: #e6e6e6;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 0.3em 0em 0.3em 0em;
}

.reading {
  font-size: 0.6em;
  padding-left: 1em;
}

/* Topページのdescription */
.toppage_descritption {
  font-size: 0.9em;
  margin-bottom: 0.3em;
}
